body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #d9a2db;
    min-width: 20rem;
}
.it {
    background: #a2addb;
    border: 3px solid #a2addb;
    border-radius: 10px;
    min-width: 17rem;
    width: 17rem;
    height: 3rem;
    text-align: center;
    padding: 10px;
}
.save {
    background: #5f9341;
    border: 3px solid #5f9341;
    border-radius: 3px;
    color: white;
    width: 8rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    height: 4rem;
    font-weight: bold;
    transition: all 0.5s;
}
.save:hover {
    background: #5f9341;
    border: 3px solid #5f9341;
    color: white;
    border-radius: 10px;
    width: 8rem;
    margin-left: 1;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}
.btn {
    display: flex;
}
.result {
    padding-top: 10px;
    width: 18rem;
    overflow: hidden;
}
a {
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}
